/* static/css/input.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  /* no decoration */
  text-decoration: none;
  color: unset;
}

h1 {
  color: green;
}

h2 {
  color: purple;
}
