{% extends "layouts/base.html" %}

{% block title %}Builder: {{ workflow_id }}{% endblock %}

{% block content %}
<h1>Workflow builder: {{ workflow_id }}</h1>



<section>
    <!-- block - html producer -->
    <hr>

    {% for m in methods.values() %}

    <div class="border-t border-gray-200">
        <dl>
            {% for key, value in m.model_dump().items() if not key=="method" %}

            <div class="{{ loop.cycle('bg-gray-50', 'bg-white') }} px-6 grid grid-cols-3 gap-4">
                <dt class="text-sm font-medium text-gray-500">
                    {{ key.replace('_', ' ').capitalize() }}
                </dt>
                <dd class="mt-1 text-sm text-gray-900 col-span-2">
                    {% if key=="method_code" %}
                    <pre>{{ value}}</pre>
                    {%else%}
                    {{ value }}
                    {%endif%}
                </dd>
            </div>
            {% endfor %}
        </dl>
    </div>
    <hr>
    {% endfor %}
</section>



{% endblock %}